@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-size: 18pt;
    font-weight: 600;
    padding-top: 10px;
}

.logo {
    margin-right: 20px;
}

.navbar {
    background-color:#3333336e;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #000000b7;
    backdrop-filter: blur(10px);
  }

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    margin-right: 40px;
}

.navbar a {
    padding: 3px 10px;
    border-radius: 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}


.navbar a:hover {
    background-color: #ee9972;
    color: #fbdabb;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu.mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mobile-menu-icon {
    width: 0px;
    cursor: pointer;
    display: none;
    color: #000000;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* Background color for the dropdown */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    display: none; /* Hide the dropdown by default */
    z-index: 1000; /* Adjust the z-index as needed */
}

.menu.active .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add a border between items */
}

.dropdown li:last-child {
    border-bottom: none;
}

/*Main*/

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

li {
    text-decoration: none;
    list-style: none;
}

/*Hero*/

.hero {
    background-image: url('restaurant.jpg');
    background-size: 100%;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 20%;
}

.hero button {
    margin-top: 80px;
}

.hero p {
    margin-top: 20px;
}

/*Menu*/

.menu {
    padding: 20px 30px;
    background-image: url('menu-background.png');
    background-size: cover;
}

.menu-col {
    background-color: #fff;
    display: grid;
    text-align: center;
    max-width: 300px;
    margin: 10px;
    padding: 20px 50px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-col img {
    max-width: 200px;
    min-width: 50px;
    width: 200px;
    height: 120px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.description{
    font-size: 12pt;
    color: #8d8b8b;
    min-height: 100px;
}

.price {
    color: #f4ce14;
    font-size: 14pt;
    padding-bottom: 10px;
}

button {
    background-color: #495e57;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #f4ce14;
    color: #fff;
    border-color: #fff;
}

/*Reservation*/

.reservation {
    background-image: url('res-background.png');
    background-size: cover;
    background-color: #fff;
    display: grid;
    text-align: center;
    padding: 20px 50px;
}

.reservation h2 {
    color: #ffffff;
}

form {
    background-color: #495e5780;
    color: #fff;
    display: grid;
    text-align: center;
    max-width: 300px;
    margin: 10px;
    padding: 30px 50px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

input {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 16px;
    border: none;
    color: #495e57;
    background-color: #ffffff3d;
}

.sec-btn {
    background-color: #ee9972;
    color: #ffffff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sec-btn:hover {
    background-color: #495e57;
    color: #fff;
    border-color: #fff;
}

.about {
    display: flexbox;
    flex-wrap: wrap;
    background-image: url('about-background.png') ;
    background-size: cover;
    padding: 20px 30px;
}

.about-col {
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    margin-bottom: 10p;
    box-sizing: border-box;
}

.about h2 {
    flex: 1;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.about img {
    flex: 1;
    max-width: 100%;
    min-width: 250px;
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); ;
}

/*Footer*/


footer .container{
	max-width: 1170px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer {
    background-image: url('footer-background.png');
    background-size: cover;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 50px;
}

.footer-col h4{
	font-size: 18px;
	color: #495e57;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #333333;
	height: 2px;
	box-sizing: border-box;
	width: 60px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	color: #000000;
	display: block;
    transition: all 0.3s ease;
	/* transition: all 0.3s ease; */
}

.footer-col ul li a:hover{
	color: #f4ce14;
    font-weight: 500;
	/* padding-left: 8px; */
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #495e57;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #f4ce14;
}

/*responsive*/

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media (max-width: 600px) {
    .about {
        flex-direction: column;
    }
    .about img {
        order: -1; /* Move the image to the top on smaller screens */
    }
}

@media (max-width: 768px) {
    .navbar ul {
        display: none; /* Hide desktop menu on small screens */
    }

    .mobile-menu-icon {
        display: block; /* Show mobile menu icon on small screens */
        color: #000000;
        padding: 0 10px;
    }
}


