@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.logo {
    margin-right: 20px;
}

.navbar {
    background-color: #33333357;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    margin-right: 40px;
}

.navbar a {
    padding: 10px;
    border-radius: 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}


.navbar a:hover {
    background-color: #f4ce14;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

li {
    text-decoration: none;
    list-style: none;
}

.hero {
    background-image: url('hero-image.png');
    background-size: 100%;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

/*Footer*/


.container{
	max-width: 1170px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer {
    background-image: url('footer-background.png');
    background-size: cover;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 50px;
}

.footer-col h4{
	font-size: 18px;
	color: #495e57;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #333333;
	height: 2px;
	box-sizing: border-box;
	width: 60px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	color: #000000;
	display: block;
    transition: all 0.3s ease;
	/* transition: all 0.3s ease; */
}

.footer-col ul li a:hover{
	color: #f4ce14;
    font-weight: 500;
	/* padding-left: 8px; */
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #495e57;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #f4ce14;
}

/*responsive*/

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

